@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");
@import "../../../node_modules//bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1rem !important;
  line-height: 1.5;
  font-family: Poppins, sans-serif !important;
  text-rendering: optimizeSpeed;
}

:root {
  --black: #000;
  --white: #fff;
  --green: #00cc61;
  --yellow: #ffe377;
  --grey: #dcdcdc;
  --grey2: #404040;

  --grey3: #787878;
  --black-navi: #004050;
  --bg1: #f4f4f4;
  --bg-benefit: #004050;
  --bg-benefit-card: #0a4757;

  --transparent: transparent;
  --hover-color: #be0f34;
  --campbar-bg: #424cc7;
  --grey: #868686;
  --lg-grey: #e8e8e8;
  --gray: #b9b9b9;
  --yewllow: #ffc107;
}

button.hover-default {
  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--yellow);
  }

  .outline-0 {
    outline: none;
  }

  button {
    &.hover-default:hover {
      background-color: var(--hover-color) !important;
    }
    &.hover-default-text:hover {
      color: var(--hover-color) !important;
    }
    &.hover-fade:hover {
      transition: all 0.3s;
      background-color: var(--hover-color) !important;
    }

    &.hover-translate {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        background: #be0f34;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        height: 100%;
        opacity: 1;
        visibility: visible;
        bottom: 0;
        top: auto;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: transparent !important;
      }
    }

    &.hover-fade-white:hover {
      background-color: var(--white) !important;
      color: var(--black) !important;
    }

    &.hover-background-text:hover {
      background-color: var(--hover-color) !important;
      color: var(--white) !important;
    }
  }
}

.modal-dialog.modal-xl {
  max-width: 1070px;
}
