.wrapper {
  .content {
    .top-bar {
      .sorting {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .result-count {
          color: var(--grey);
          font-weight: 400;
          font-size: 1.4rem;
        }

        .sorting-bar {
          display: flex;
          align-items: center;

          .product-per-row {
            display: inline-flex;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #e1e1e1;
            line-height: 1;

            .icon {
              font-size: 2rem;
              color: var(--grey);
              line-height: 1;

              & + .icon {
                margin-left: 10px;
              }

              &:hover {
                color: var(--black);
              }
            }
          }

          .sort-type {
            select {
              border: 1px solid #000;
              display: inline-block;
              line-height: 34px;
              padding: 10px 20px;
              text-transform: capitalize;
              font-weight: 500;
              font-size: 1.4rem;
              outline: none;
            }
          }
        }
      }

      .filters {
        span {
          display: inline-block;
          line-height: 26px;
          padding: 0 10px 0 15px;
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: capitalize;
          color: var(--black);
          margin-right: 10px;

          .icon {
            margin-left: 5px;
            font-size: 1.6rem;
            vertical-align: sub;
          }

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }
        }

        button {
          background: transparent;
          border: 0;
          border-bottom: 1px solid currentColor;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 1.4rem;
        }
      }
    }
  }
}
